.toggle_wrapper {
    width: 47px;
    height: 27px;
    background-color: #e0e1ff;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: background-color .4s ease;
    margin-right: 10px
}

.toggle_wrapper.night {
    background-color: #383780
}

.icon {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 2.75px;
    left: 0;
    background-size: cover;
    transition: left .4s ease,opacity .4s ease;
    box-shadow: 0 3px 8px rgba(0,0,0,.24)
}

.sun {
    background-color: #fff;
    background-image: url("sun.98c721ba.svg");
    opacity: 1
}

.moon,.sun {
    border-radius: 50px
}

.moon {
    background-color: #9a89fb;
    background-image: url("moon.3c3cab6e.svg");
    opacity: 0;
    left: -100%;
    background-position-y: 1.2px;
    background-position-x: 1px
}

.menu-icon {
    transition: transform .3s ease
}

.menu-icon.open {
    transform: rotate(90deg)
}

.fullscreen-menu {
    height: 100vh;
    position: absolute;
    background-color: #a69eb7;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transform: translateX(100%)
}

.fullscreen-menu.show {
    opacity: 1;
    transform: translateX(0);
    height: 100lvh
}

.fullscreen-menu a {
    font-size: 1.5rem;
    margin: 1rem 0;
    text-decoration: none
}

.fullscreen-menu .close-button {
    position: absolute;
    top: 2rem;
    left: 2rem
}

.dropdownWrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2px;
    border-radius: 20px;
    background: linear-gradient(0deg,#afafff,#ff8fb8 50%,#ffbb9b);
    -webkit-mask: linear-gradient(0deg,#afafff,#ff8fb8 50%,#ffbb9b);
    mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: 1
}

@font-face {
    font-family: __Montserrat_45bddf;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("aec774cbe1963439-s.woff2") format("woff2");
    unicode-range: u+0460-052f,u+1c80-1c88,u+20b4,u+2de0-2dff,u+a640-a69f,u+fe2e-fe2f
}

@font-face {
    font-family: __Montserrat_45bddf;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("634216363f5c73c1-s.woff2") format("woff2");
    unicode-range: u+0301,u+0400-045f,u+0490-0491,u+04b0-04b1,u+2116
}

@font-face {
    font-family: __Montserrat_45bddf;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("d83fe381bb17eb77-s.woff2") format("woff2");
    unicode-range: u+0102-0103,u+0110-0111,u+0128-0129,u+0168-0169,u+01a0-01a1,u+01af-01b0,u+0300-0301,u+0303-0304,u+0308-0309,u+0323,u+0329,u+1ea0-1ef9,u+20ab
}

@font-face {
    font-family: __Montserrat_45bddf;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("88325a2c1fede2f4-s.woff2") format("woff2");
    unicode-range: u+0100-02af,u+0304,u+0308,u+0329,u+1e00-1e9f,u+1ef2-1eff,u+2020,u+20a0-20ab,u+20ad-20c0,u+2113,u+2c60-2c7f,u+a720-a7ff
}

@font-face {
    font-family: __Montserrat_45bddf;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("e1c529c04de64b40-s.p.woff2") format("woff2");
    unicode-range: u+00??,u+0131,u+0152-0153,u+02bb-02bc,u+02c6,u+02da,u+02dc,u+0304,u+0308,u+0329,u+2000-206f,u+2074,u+20ac,u+2122,u+2191,u+2193,u+2212,u+2215,u+feff,u+fffd
}

@font-face {
    font-family: __Montserrat_45bddf;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("aec774cbe1963439-s.woff2") format("woff2");
    unicode-range: u+0460-052f,u+1c80-1c88,u+20b4,u+2de0-2dff,u+a640-a69f,u+fe2e-fe2f
}

@font-face {
    font-family: __Montserrat_45bddf;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("634216363f5c73c1-s.woff2") format("woff2");
    unicode-range: u+0301,u+0400-045f,u+0490-0491,u+04b0-04b1,u+2116
}

@font-face {
    font-family: __Montserrat_45bddf;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("d83fe381bb17eb77-s.woff2") format("woff2");
    unicode-range: u+0102-0103,u+0110-0111,u+0128-0129,u+0168-0169,u+01a0-01a1,u+01af-01b0,u+0300-0301,u+0303-0304,u+0308-0309,u+0323,u+0329,u+1ea0-1ef9,u+20ab
}

@font-face {
    font-family: __Montserrat_45bddf;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("88325a2c1fede2f4-s.woff2") format("woff2");
    unicode-range: u+0100-02af,u+0304,u+0308,u+0329,u+1e00-1e9f,u+1ef2-1eff,u+2020,u+20a0-20ab,u+20ad-20c0,u+2113,u+2c60-2c7f,u+a720-a7ff
}

@font-face {
    font-family: __Montserrat_45bddf;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("e1c529c04de64b40-s.p.woff2") format("woff2");
    unicode-range: u+00??,u+0131,u+0152-0153,u+02bb-02bc,u+02c6,u+02da,u+02dc,u+0304,u+0308,u+0329,u+2000-206f,u+2074,u+20ac,u+2122,u+2191,u+2193,u+2212,u+2215,u+feff,u+fffd
}

@font-face {
    font-family: __Montserrat_45bddf;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("aec774cbe1963439-s.woff2") format("woff2");
    unicode-range: u+0460-052f,u+1c80-1c88,u+20b4,u+2de0-2dff,u+a640-a69f,u+fe2e-fe2f
}

@font-face {
    font-family: __Montserrat_45bddf;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("634216363f5c73c1-s.woff2") format("woff2");
    unicode-range: u+0301,u+0400-045f,u+0490-0491,u+04b0-04b1,u+2116
}

@font-face {
    font-family: __Montserrat_45bddf;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("d83fe381bb17eb77-s.woff2") format("woff2");
    unicode-range: u+0102-0103,u+0110-0111,u+0128-0129,u+0168-0169,u+01a0-01a1,u+01af-01b0,u+0300-0301,u+0303-0304,u+0308-0309,u+0323,u+0329,u+1ea0-1ef9,u+20ab
}

@font-face {
    font-family: __Montserrat_45bddf;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("88325a2c1fede2f4-s.woff2") format("woff2");
    unicode-range: u+0100-02af,u+0304,u+0308,u+0329,u+1e00-1e9f,u+1ef2-1eff,u+2020,u+20a0-20ab,u+20ad-20c0,u+2113,u+2c60-2c7f,u+a720-a7ff
}

@font-face {
    font-family: __Montserrat_45bddf;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("e1c529c04de64b40-s.p.woff2") format("woff2");
    unicode-range: u+00??,u+0131,u+0152-0153,u+02bb-02bc,u+02c6,u+02da,u+02dc,u+0304,u+0308,u+0329,u+2000-206f,u+2074,u+20ac,u+2122,u+2191,u+2193,u+2212,u+2215,u+feff,u+fffd
}

@font-face {
    font-family: __Montserrat_45bddf;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("aec774cbe1963439-s.woff2") format("woff2");
    unicode-range: u+0460-052f,u+1c80-1c88,u+20b4,u+2de0-2dff,u+a640-a69f,u+fe2e-fe2f
}

@font-face {
    font-family: __Montserrat_45bddf;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("634216363f5c73c1-s.woff2") format("woff2");
    unicode-range: u+0301,u+0400-045f,u+0490-0491,u+04b0-04b1,u+2116
}

@font-face {
    font-family: __Montserrat_45bddf;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("d83fe381bb17eb77-s.woff2") format("woff2");
    unicode-range: u+0102-0103,u+0110-0111,u+0128-0129,u+0168-0169,u+01a0-01a1,u+01af-01b0,u+0300-0301,u+0303-0304,u+0308-0309,u+0323,u+0329,u+1ea0-1ef9,u+20ab
}

@font-face {
    font-family: __Montserrat_45bddf;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("88325a2c1fede2f4-s.woff2") format("woff2");
    unicode-range: u+0100-02af,u+0304,u+0308,u+0329,u+1e00-1e9f,u+1ef2-1eff,u+2020,u+20a0-20ab,u+20ad-20c0,u+2113,u+2c60-2c7f,u+a720-a7ff
}

@font-face {
    font-family: __Montserrat_45bddf;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("e1c529c04de64b40-s.p.woff2") format("woff2");
    unicode-range: u+00??,u+0131,u+0152-0153,u+02bb-02bc,u+02c6,u+02da,u+02dc,u+0304,u+0308,u+0329,u+2000-206f,u+2074,u+20ac,u+2122,u+2191,u+2193,u+2212,u+2215,u+feff,u+fffd
}

@font-face {
    font-family: __Montserrat_45bddf;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("aec774cbe1963439-s.woff2") format("woff2");
    unicode-range: u+0460-052f,u+1c80-1c88,u+20b4,u+2de0-2dff,u+a640-a69f,u+fe2e-fe2f
}

@font-face {
    font-family: __Montserrat_45bddf;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("634216363f5c73c1-s.woff2") format("woff2");
    unicode-range: u+0301,u+0400-045f,u+0490-0491,u+04b0-04b1,u+2116
}

@font-face {
    font-family: __Montserrat_45bddf;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("d83fe381bb17eb77-s.woff2") format("woff2");
    unicode-range: u+0102-0103,u+0110-0111,u+0128-0129,u+0168-0169,u+01a0-01a1,u+01af-01b0,u+0300-0301,u+0303-0304,u+0308-0309,u+0323,u+0329,u+1ea0-1ef9,u+20ab
}

@font-face {
    font-family: __Montserrat_45bddf;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("88325a2c1fede2f4-s.woff2") format("woff2");
    unicode-range: u+0100-02af,u+0304,u+0308,u+0329,u+1e00-1e9f,u+1ef2-1eff,u+2020,u+20a0-20ab,u+20ad-20c0,u+2113,u+2c60-2c7f,u+a720-a7ff
}

@font-face {
    font-family: __Montserrat_45bddf;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("e1c529c04de64b40-s.p.woff2") format("woff2");
    unicode-range: u+00??,u+0131,u+0152-0153,u+02bb-02bc,u+02c6,u+02da,u+02dc,u+0304,u+0308,u+0329,u+2000-206f,u+2074,u+20ac,u+2122,u+2191,u+2193,u+2212,u+2215,u+feff,u+fffd
}

@font-face {
    font-family: __Montserrat_Fallback_45bddf;
    src: local("Arial");
    ascent-override:85.79%;descent-override:22.25%;line-gap-override:0.00%;size-adjust:112.83%}

.__className_45bddf {
    font-family: __Montserrat_45bddf,__Montserrat_Fallback_45bddf;
    font-style: normal
}

.__variable_45bddf {
    --font-montserrat: "__Montserrat_45bddf","__Montserrat_Fallback_45bddf"
}
