.introTextBtnContainer {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg,#48427b 20%,#3236978f 80%),url("bg_image_introTextBtn.672ceb0a.png") no-repeat 50%;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 20px
}

.featureBorderWrapDarkTheme {
    position: relative;
    background: linear-gradient(140deg,#3a2d8c 10%,#571e4b 55%,#163d59);
    padding: 2px
}

.featureBorderWrapLightTheme {
    position: relative;
    background: linear-gradient(0deg,#c0beff 10%,#ffcee0 55%,#ffdecc);
    padding: 2px
}

.graphBackground {
    background-image: url("")
}

.carouseItemsWhiteTheme,.carouselItemsDarkTheme {
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 20px 0 rgba(255,95,162,.15)
}

.carouseItemsWhiteTheme,.carouselItemsDarkTheme {
    box-shadow: 5px 5px 20px 0 rgba(255,95,162,.15)
}

.carouseItemsWhiteTheme:before,.carouselItemsDarkTheme:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: background .25s ease-in-out
}

.swiper>.swiper-wrapper {
    transition-timing-function: linear
}

.swiper-slide {
    transition: transform 2s ease
}

.swiper-wrapper {
    padding-top: 20px
}

.intergrationBoxGradient {
    position: relative;
    background: linear-gradient(180deg,#ffbb9b 10%,#ff8fb8 50%,#afafff);
    padding: 2px
}

.aboutSectionBG {
    background-image: url("purple-start-background-image.a555e901.png")
}

.securitySection {
    position: relative;
    border: 2px solid (#afafff,#ff8fb8,#ffbb9b)
}

@keyframes slide {
    0% {
        transform: translateY(-100%)
    }

    50% {
        transform: translateY(0)
    }

    to {
        transform: translateY(100%)
    }
}

.number {
    display: inline-block;
    opacity: 0;
    animation: slide .5s ease-in-out forwards
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.full-text {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards
}

.content-image__wrapper {
    position: relative
}

.content-image {
    object-fit: contain;
    width: 37vw;
    max-width: 508px;
    transition: opacity 1s ease-in-out;
    opacity: 1
}

.content-image--hidden {
    opacity: 0
}

.content-image:last-child {
    position: absolute;
    top: 0;
    left: 0
}

.spinner {
    animation: spin 6s cubic-bezier(.8,-.25,.2,1.25) infinite,scale 6s cubic-bezier(.8,1,.2,1) infinite
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    10% {
        transform: rotate(0deg);
        scale: 1
    }

    26.5% {
        scale: .7
    }

    43% {
        transform: rotate(1turn);
        scale: 1
    }

    to {
        transform: rotate(1turn)
    }
}

@keyframes scale {
    0% {
        scale: 1
    }

    18.25% {
        scale: 1
    }

    26.5% {
        scale: .7
    }

    34.75% {
        scale: 1
    }

    to {
        scale: 1
    }
}

.strategiesIntroImgParent {
    position: relative;
    z-index: 50
}

.purple_bubble {
    position: absolute
}

.bubble-1 {
    top: 30%;
    left: -7%;
    z-index: -10
}

.bubble-2 {
    bottom: 15%;
    left: 0
}

.bubble-3 {
    top: 35%;
    right: 10%
}

.bubble-4 {
    bottom: 23%;
    right: -10%;
    z-index: -10
}

@media (max-width: 770px) {
    .content-image {
        width:72vw;
        margin-bottom: 40px;
        max-width: unset
    }

    .featureBorderWrapLightTheme {
        width: 100%
    }
}

@media (max-width: 500px) {
    .bubble-2 {
        bottom:-5%;
        left: 0
    }

    .bubble-1 {
        top: 30%;
        left: -15%;
        z-index: -10
    }

    .bubble-4 {
        bottom: 40%;
        right: -20%;
        z-index: -10
    }
}
