.blogCardButtonWrapper {
    position: relative;
    border-radius: 25px;
    padding: 2px;
    overflow: hidden;
    transition: background .3s ease
}

.blogCardButtonWrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2px;
    border-radius: 25px;
    background: linear-gradient(0deg,#afafff,#ff8fb8 50%,#ffbb9b);
    -webkit-mask: linear-gradient(0deg,#afafff,#ff8fb8 50%,#ffbb9b);
    mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: 1
}

.blogCardButtonWrapper.active:before {
    background: linear-gradient(0deg,#a79dff,#6b70ed)
}

.blogCardButtonWrapper.active .blogButtonContent {
    background: linear-gradient(0deg,#afafff,#ff8fb8 50%,#ffbb9b)
}

.blogCardButtonContent {
    border-radius: 25px;
    position: relative;
    z-index: 1;
    background: transparent;
    transition: background .3s ease
}

.blogCardParent,.blogCardParentSmall {
    position: relative;
    border-radius: 25px;
    padding: 3px;
    overflow: hidden;
    box-sizing: border-box
}

.blogCardParentSmall {
    border-radius: 25px;
    padding: 3px
}

.blogCardParent:before,.blogCardParentSmall:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 3px;
    border-radius: 25px;
    background: linear-gradient(0deg,#afafff 50%,#ff8fb8 65%,#ffbb9b 80%);
    -webkit-mask: linear-gradient(0deg,#afafff 50%,#ff8fb8 65%,#ffbb9b 80%);
    mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: 100
}

.blogCardContent,.blogCardContentSmall {
    border-radius: 20px;
    position: relative;
    z-index: 1;
    scale: 1.009
}

.blogCardContentSmall {
    scale: 1.03
}
